USE [master]
GO
CREATE DATABASE [ResoSaleReport]
GO
USE [ResoSaleReport]
GO
CREATE TABLE [dbo].[Brand](
	[ID] [int] NOT NULL PRIMARY KEY,
	[BrandName] [nvarchar](255) NULL,
	[CreateDate] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CompanyName] [nvarchar](255) NULL,
	[ContactPerson] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](255) NULL,
	[Fax] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[VATCode] [nvarchar](13) NULL,
	[VATTemplate] [int] NULL,
	[Address] [nvarchar](100) NULL,
	[ApiSMSKey] [nvarchar](255) NULL,
	[SecurityApiSMSKey] [nvarchar](255) NULL,
	[SMSType] [int] NULL,
	[BrandNameSMS] [nvarchar](255) NULL,
	[JsonConfigUrl] [nvarchar](max) NULL,
	[BrandFeatureFilter] [nvarchar](255) NULL,
	[WiskyId] [int] NULL,
	[DefaultDashBoard] [nvarchar](250) NULL,
	[RSAPrivateKey] [nvarchar](max) NULL,
	[RSAPublicKey] [nvarchar](max) NULL,
	[PGPPassword] [nvarchar](max) NULL,
	[PGPPrivateKey] [nvarchar](max) NULL,
	[PGPPulblicKey] [nvarchar](max) NULL,
	[DesKey] [nvarchar](max) NULL,
	[DesVector] [nvarchar](max) NULL,
	[AccessToken] [nvarchar](max) NULL,
	[TaxCode] [nvarchar](max) NULL,)
GO
CREATE TABLE [dbo].[Store](
	[ID] [int] NOT NULL PRIMARY KEY,
	[Name] [nvarchar](50) NOT NULL,
	[ShortName] [nvarchar](100) NULL,
	[Address] [nvarchar](150) NOT NULL,
	[Lat] [nvarchar](256) NULL,
	[Lon] [nvarchar](50) NULL,
	[Province] [nvarchar](50) NULL,
	[District] [nvarchar](50) NULL,
	[Ward] [nvarchar](50) NULL,
	[isAvailable] [bit] NULL,
	[Active] [bit] NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[Type] [int] NULL,
	[RoomRentMode] [int] NULL,
	[ReportDate] [datetime] NULL,
	[GroupId] [int] NULL,
	[OpenTime] [datetime] NULL,
	[CloseTime] [datetime] NULL,
	[DefaultAdminPassword] [nvarchar](20) NULL,
	[HasProducts] [bit] NULL,
	[HasNews] [bit] NULL,
	[HasImageCollections] [bit] NULL,
	[HasMultipleLanguage] [bit] NULL,
	[HasWebPages] [bit] NULL,
	[HasCustomerFeedbacks] [bit] NULL,
	[BrandId] [int] NULL FOREIGN KEY ([BrandId]) REFERENCES [dbo].[Brand] ([ID]),
	[HasOrder] [bit] NULL,
	[HasBlogEditCollections] [bit] NULL,
	[LogoUrl] [nvarchar](max) NULL,
	[FbAccessToken] [nvarchar](max) NULL,
	[StoreFeatureFilter] [nvarchar](255) NULL,
	[RunReport] [bit] NULL,
	[AttendanceStoreFilter] [int] NULL,
	[StoreCode] [nchar](10) NULL,
	[PosId] [int] NULL,
	[StoreConfig] [ntext] NULL,
	[DefaultDashBoard] [nvarchar](250) NULL,
	[PaymentTypeApply] [int] NULL,
	[ModeStore] [int] NULL,
)
GO
CREATE TABLE [dbo].[DateHotelReport](
	[ID] [int] NOT NULL PRIMARY KEY,
	[Date] [datetime] NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[StoreID] [int] NOT NULL FOREIGN KEY ([StoreID]) REFERENCES [dbo].[Store] ([ID]),
	[TotalAmount] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[FinalAmount] [float] NOT NULL,
	[TotalOrderDetail] [float] NOT NULL,
	[TotalOrderFeeItem] [float] NOT NULL,
)
GO
CREATE TABLE [dbo].[DateReport](
	[ID] [int] NOT NULL PRIMARY KEY,
	[Date] [datetime] NOT NULL,
	[CreateBy] [nvarchar](256) NULL,
	[Status] [int] NOT NULL,
	[StoreID] [int] NOT NULL FOREIGN KEY ([StoreID]) REFERENCES [dbo].[Store] ([ID]),
	[TotalAmount] [float] NULL,
	[FinalAmount] [float] NULL,
	[Discount] [float] NULL,
	[DiscountOrderDetail] [float] NULL,
	[TotalCash] [float] NULL,
	[TotalOrder] [int] NOT NULL,
	[TotalOrderAtStore] [int] NOT NULL,
	[TotalOrderTakeAway] [int] NOT NULL,
	[TotalOrderDelivery] [int] NOT NULL,
	[TotalOrderDetail] [float] NOT NULL,
	[TotalOrderFeeItem] [float] NOT NULL,
	[TotalOrderCard] [int] NOT NULL,
	[TotalOrderCanceled] [int] NULL,
	[TotalOrderPreCanceled] [int] NULL,
	[FinalAmountAtStore] [float] NULL,
	[FinalAmountTakeAway] [float] NULL,
	[FinalAmountDelivery] [float] NULL,
	[FinalAmountCard] [float] NULL,
	[FinalAmountCanceled] [float] NULL,
	[FinalAmountPreCanceled] [float] NULL,
)
GO
CREATE TABLE [dbo].[PaymentReport](
	[ID] [int] NOT NULL PRIMARY KEY,
	[CreateBy] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[StoreID] [int] NOT NULL FOREIGN KEY ([StoreID]) REFERENCES [dbo].[Store] ([ID]),
	[CashAmount] [float] NOT NULL,
	[MemberCardAmount] [float] NOT NULL,
	[BankAmount] [float] NOT NULL,
	[VoucherAmount] [float] NOT NULL,
	[DebtAmount] [float] NOT NULL,
	[OtherAmount] [float] NOT NULL,
	[PayDebtAmount] [float] NOT NULL,
	[ReceiptAmount] [float] NOT NULL,
	[SpendAmount] [float] NOT NULL,
)
GO
CREATE TABLE [dbo].[ReportTracking](
	[Id] [int] NOT NULL PRIMARY KEY,
	[StoreID] [int] NOT NULL FOREIGN KEY ([StoreID]) REFERENCES [dbo].[Store] ([ID]),
	[Date] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UpdatePerson] [nvarchar](50) NULL,
	[isUpdate] [bit] NULL,
)
GO
